body
{
/* Background pattern from Toptal Subtle Patterns */
font-family: 'Lato', sans-serif;
background-image: url("paper.png");
margin:0;
font-size: 10px;
	
}

.title
{
margin:0;	
}


.logo
{
	
height:70px;
background-color: gray;
letter-spacing: 3px;
text-transform: uppercase;
font-size: 30px;
text-align: center;
line-height:70px;
vertical-align: center;
margin:none;
}


#topmenu 
{
	text-align: center;
	background-color: #666;
	height:30px;
	padding:0;
	
}


.mylist 
{

margin:0;
list-style-type: none;
font-size: 20px;
line-height:30px;
width:1100px;
height:30px;
margin-left:auto;
margin-right:auto;
	
}






.mylist > li 
{
display: inline-block;	
border-right: 1px dashed black;
height:30px;
margin:none;
width:170px;
}


.mylist > li:first-child
{
	
border-left: 1px dashed black;

}

.mylist a 
{
	
text-decoration: none;
color: black;
text-align:center;
padding-left:5px;
padding-right:5px;
height:30px;
width:170px;
padding:0;
margin:0;
display: block;
line-height:30px;
vertical-align: center;
}

.mylist a:hover
{
	
background-color: gray;
}



.container
{
	
background-color: #2F3336;
color: #efefef;

width:800px;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
margin-bottom: 100px;
padding:50px 20px;

}


.header2
{
	
margin-left:auto;
margin-right:auto;
padding: 20px 0;
width:400px;
text-transform: uppercase;
letter-spacing: 1px;
text-decoration: underline;
font-size: 25px;
}



.money
{
background-color: gray;	
	
}


.date
{
background-color: gray;	
	
}


.platnosc
{
	
	background-color: gray;
	
}


.category
{

background-color: gray;	
	
}

.comment
{
background-color: gray;	
}


input[type = number],
input[type = date]
{
width: 300px;
height:30px;
border: 1px dotted blue;
text-align:center;


}


input[type = number]:hover,
input[type = date]:hover
{

background-color: #e9f3e9;

}


input[type = number]:focus 
{
background-color: #e9f3e9;	
}


#expenseCategory
{
text-align:center;	
}

option
{
text-align:center;	
}


select
{
	width: 300px;
height:30px;
text-align-last:center;
}

select:hover
{
	background-color: #e9f3e9;	
}


textarea:hover
{
background-color: #e9f3e9;	
}


fieldset
{
width: 600px;
margin-left:auto;
margin-right:auto;
text-align:center;

}

#comment
{
resize:none;	
}


.Confirmation
{
width:100%;
margin-left:auto;
margin-right:auto;
	
}

.button
{


margin-left: auto;
margin-right: auto;
width:200px;
}


input[type = submit]
{
display: inline-block;
width:200px;
height:70px;
color:white;
background-color: #36b03c;
cursor: pointer;
font-size:30px;
letter-spacing:1px;
text-transform: uppercase;
margin-left: auto;
margin-right:auto;
	
}


input[type = submit]:hover
{
	background-color: #37b93d;
}


input[type = submit]:focus
{
	
-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.9); 
box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.9);	
}



